* {box-sizing: border-box; margin: 0; padding: 0}


.flex {display: flex;}
.column {flex-flow: column;}

.center-all {align-items: center; align-content: center; justify-items: center; justify-content: center;}
.content div:hover {background-color: lightgray;}
.content div {background-color : white;}

.fill-flex {flex : 1}
.quill-wrapper {width : calc(100% - 10rem)}
.main {flex: 1; height: 100%; width: 100%}
.editor-container {flex: 1;}
.title input {font-size: 20px; flex: 1}
