{% extends "base.html" %}
{% block body %}

<div class="flex column login container">
	<h1>login</h1>
	<input placeholder="email/username"></input>
	<input placeholder="password"></input>
	<input placeholder="confirm password"></input>
	<a></a>
	<button onclick="signUp()">Sign up</button>
</div>

{% endblock %}

{% block script %}
const messageElement = document.querySelector(".flex a");
async function signUp() {
	const [email, password, confirmPassword] = Array.from(document.querySelectorAll(".flex input")).map(v => v.value);
	
	// check if passwords are same
	console.log(password, confirmPassword)
	if (password == confirmPassword) {
		const response = await fetch("/signup", {
			method : "POST",
			headers : {
				"Content-Type" : "application/json"
			},
			body : JSON.stringify({email : email, password : password})
		});

		const data = await response.json();
		if (data.success) {
			// redir
			window.location.href = "/";
		}
		messageElement.textContent = data.message;a	
	} else {
		messageElement.textContent = "Your passwords don't match.";
	}

	// redir to next page if response is nice
}
{% endblock %}
